<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>{{ title }}</h2>

    <form action="/ontologia/" method="post">{% csrf_token %}
        <label for="entidade">Entidade: </label>
        <select name="entidade" id="id_entidade">
            <option value="atleta">Atleta</option>
            <option value="campeonato">Campeonato</option>
            <option value="disputa_esportiva">Disputa</option>
            <option value="equipe">Equipe</option>
            <option value="esporte">Esporte</option>
        </select>
        <input type="submit" value="OK">
    </form>
    
    {% if result %}
    <table>
        <thead>
            <tr>
                <td>
                    <h3>{{ table_title }}</h3>
                </td>
            </tr>
        </thead>
    {% for line in result %}
        <tr>
            <td>
                {{ line }}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
</body>
</html>